.list-item{
    color: blue;
}
.item{
    color: rgba(103, 197, 8, 0.849);
}
.item2{
    color: cadetblue;
}
.item3{
    color: brown;
}
.item4{
    color: goldenrod;
}
.item5{
    color:rgb(108, 135, 192);
}